body{
  margin: 0px;  
  padding: 0px;
  background-color: rgb(0, 0, 0);
}
#icon {
    width: 62px;
    height: 62px;
    padding-right: 10px;

}
#navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(105, 12, 12);
    color: rgb(245, 220, 220);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#links {
    padding-right: 10px;
}
#noticias {
display: flex;
text-align: center;
justify-content: space-around;
padding: 6px;

}

.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(146, 21, 5);
    background-color: beige ;
    border: 4px solid  rgb(105, 5, 5);
    border-radius: 15px;

}
.img_noticia {
width: 250px;
height: 190px;

}
