body{
  margin: 0px;  
  padding: 0px;
  background-color: rgb(0, 0, 0);
}
#icon {
    width: 62px;
    height: 62px;

}
#navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(105, 12, 12);
    color: rgb(126, 15, 15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}