body{
  margin: 0px;  
  padding: 0px;
  background-color: rgb(0, 0, 0);
}
#icon {
    width: 65px;
    height: 65px;
    padding-right: 10px;

}
#navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(105, 12, 12);
    color: rgb(245, 220, 220);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#links {
    padding-right: 10px;
}
#noticias {
display: flex;
text-align: center;
justify-content: space-around;
padding: 6px;
border-radius: 15px;

}

.noticia{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(240, 212, 181);
    background-color: rgb(92, 13, 13) ;
    border: 4px solid  rgb(223, 140, 140);
    border-radius: 15px;

}
.img_noticia {
width: 250px;
height: 190px;

}
#escalacao {
display: flex;
text-align: center;
justify-content: space-around;
padding: 6px;
border-radius: 15px;
background-color: bisque;
}

.escalacoes{

}   
.img_escalacoes {
width: 50px;
height: 50px;
}
